<% @schools.each do |school| %>
  <h3><%= school.uid %></h3>
  <p><%= school.overweight_percentage %></p>
  <p><%= school.obsese_percentage %></p>
  <%= link_to 'Delete School', school_path(id: school.id), method: :delete %>
<% end %>

